body {
    background-color: rgb(154, 187, 224);


}
/*augšas header*/
#header{
    background: linear-gradient(to bottom, #0099cc 0%, #3366ff 100%);
    position: absolute;
    width: 99.70%;
    height: 18%;
    left: 0%;
    top: 0%;
    border: solid 2px black;

    opacity: 0.8;
}
/*meklēšanas forma*/
#search{
    position: absolute;
    width: 38%;
    height: 68%;
    left: 34%;
    top: 20%;
    background: rgba(196, 196, 196, 0.15);
    mix-blend-mode: normal;
    border: 2px solid #000000;
    box-sizing: border-box;
}
/*poga meklēt*/
#meklet{
    position: absolute;
    width: 20%;
    height: 35%;
    left: 70%;
    top: 45%;
    background: #FFFFFF;
    border: 1.3px solid #000000;
    box-sizing: border-box;
    font-size: 20px;
}

/* pogas meklēt animācija */
#meklet:hover{
    box-shadow: 0 0 40px 40px #569AFF
    inset;
    color: white;
    outline: none;
}

/*datuma ievades lauks*/
input#datums{
    position: absolute;
    width: 30%;
    height: 35%;
    left: 39%;
    top: 45%;
    background: #FFFFFF;
    border: 1.3px solid #000000;
    box-sizing: border-box;
    font-size: 20px;
}

/*valsts ievades lauks*/
input#valsts{
    position: absolute;
    width: 31%;
    height: 35%;
    left: 7%;
    top: 45%;
    background: #FFFFFF;
    border: 1.3px solid #000000;
    box-sizing: border-box;
    font-size: 20px;
}
/*kontaktu forma*/
#kontakti{
    position: absolute;
    width: 15%;
    height: 16%;
    left: 83%;
    top: 1.4%;
    
    background: rgba(196, 196, 196, 0.1);
    border: 2px solid #000000;
    box-sizing: border-box;}
/*kontaktinformācija*/
p{
    position: absolute;
    left: 18%;
    top: 0%;
    
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
}

/* poga pievienot */
#poga{
    display: flex;
    justify-content: center;
    align-items: center
}
/* poga pievienot */
#pievienot{
    position: absolute;
    width: 35%;
    height: 39px;
    left: 2%;
    top: 3%;
    
    background: rgba(41, 127, 226, 1);
    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: transparent;
    
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

}
/* pogas pievienot animācija */
#pievienot:hover{ 
    box-shadow: 0 0 40px 40px #569AFF
    inset;
    color: white;
    outline: none;
}



/* Kontaktinformacija */
h4{
    font-size: 14px;
    text-align: center;
    line-height: 21px;
}

h1{
    position: absolute;
    font-size: 17px;
    left: 17%;
    top: -8%;
    font-size: 25px;
}

h2{
    position: absolute;
    font-size: 17px;
    left: 45%;
    top: -10%;
    font-size: 25px;
}

/*Poga pievienot ceļojumu*/
#pievienot_celojumu{
    position: absolute;
    width: 15%;
    height: 5%;
    left: 45%;
    top: 90%;
    background: #FFFFFF;
    border: 1.3px solid #000000;
    box-sizing: border-box;
    font-size: 20px;
}

/* pogas pievienot ceļojumu animācija */
#pievienot_celojumu:hover{
    box-shadow: 0 0 40px 40px #569AFF
    inset;
    color: white;
    outline: none;
}

#main1{
    background: linear-gradient(to bottom, #0099cc 0%, #3366ff 100%);
    position: absolute;
    width: 99.70%;
    height: 81.1%;
    left: 0%;
    top: 18.40%;
    border: solid 2px black;
}

/*infor logs 2*/
#infologs2{
    position: absolute;
    width: 47%;
    height: 35%;
    left: 30%;
    top: 45%;

    border: 2px solid #000000;
    box-sizing: border-box;
}

/*infor logs 1*/
#infologs1{
    position: absolute;
    width: 47%;
    height: 35%;
    left: 30%;
    top: 5%;

    border: 2px solid #000000;
    box-sizing: border-box;
}

/*Paši apraksta logi*/
#infologaapraksts{
    position: absolute;
    width: 55%;
    height: 45%;
    left: 2%;
    top: 30%;

    border: 2px solid #000000;
    box-sizing: border-box;
}

/*Teksts "Apraksts" apraksta logā*/
#p2p.center {
    position: absolute;
    width: 58px;
    height: 26px;
    left: 40%;
    top: 30%;

    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
}
/*Logs Ar valsts nosaukumu*/
  #infologavalstsnosakums{
    position: absolute;
    width: 55%;
    height: 20%;
    left: 2%;
    top: 7%;

    border: 2px solid #000000;
    box-sizing: border-box;
}

/*Valsts nosaukums*/
#valsts_nosaukums{
    position: absolute;
    width: 58px;
    height: 26px;
    left: 40%;
    top: 30%;

    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
}

/*Dzēšanas poga*/
#delete_poga{
    position: absolute;
    width: 35%;
    height: 39px;
    left: 10%;
    top: 80%;
    
    background: linear-gradient(to bottom, #0099cc 0%, #3366ff 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: transparent;
    
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

}

/*Dzēšanas pogas animāciaj*/
#delete_poga:hover{ 
    box-shadow: 0 0 40px 40px #569AFF
    inset;
    color: white;
    outline: none;
}

/*Rediģēt ceļojumu poga*/
#redig_poga{
    position: absolute;
    width: 35%;
    height: 39px;
    left: 50%;
    top: 80%;
    
    background: linear-gradient(to bottom, #0099cc 0%, #3366ff 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: transparent;
    
    font-family: Asap;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

}

/*Rediģēt ceļojumu pogas animācija*/
#redig_poga:hover{ 
    box-shadow: 0 0 40px 40px #569AFF
    inset;
    color: white;
    outline: none;
}