body {
    margin: 0;
    border: 2px solid black;
    background: url(travel.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

button {
    position: fixed;
    top: 36%;
    left: 41%;
    border-radius: 50%;
    border: 4px solid black;
    height: 34%;
    width: 17%;
}
button:hover{ 
    box-shadow: 0 0 40px 40px lightgrey
    inset;
    outline: none;
}
img {
    padding: 100px;
    background: url(logo.png);
    background-repeat: no-repeat;
    background-size: auto;
}

h1 {
    text-align: center;
    font-size: 60px;
    color:black;
}

#top {
    margin: auto;
    width: 99.19%;
    border: 5px solid black;
    left: 0%;
    top: 0%;
    right: 0%;
    padding: 3px;
    position: absolute;
    background-color:lightgray;
}
