<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/admin.css">
    <title>Ceļot prieks</title>
</head>
<body>
    
    <div id="header">  <!--augšas header-->
        <div id="logo">
            <img>
        </div>
        <form id="search"> <!--meklēšanas logs-->
            <h1>Valsts</h1>
            <h2>Datums</h2>
            <input type="text" id="datums" placeholder="MM/DD/YY"> <!--datuma ievadīšanas logs-->
            <input type="text" id="valsts" placeholder="Valsts"> <!--valsts ievadīšanas logs-->
            <button type="submit" id="meklet">Meklēt</button> <!--meklēšanas poga-->
        </form>

    </div>

        <div id="kontakti"> <!--kontakinformācijas logs-->
            
            <h4>Kontaktinformācija</h4>
            <h4>Tel: 27513186</h4>
            <h4>Email: info@celot.prieks.com</h4> 
            
        </div>


    </div> 
    <div id="main1">
        <div id="infologs1">
            <button id="redig_poga">Rediģēt</button>
            <button id="delete_poga">Delete</button>

            <div id="infologadatums">
                <div id="infologa_datums">
                    DD/MM/YYYY <!-- Te datuma.value-->
                </div>
            </div>
            <div id="infologacena">
                <div id="infologa_cena">
                    Cena <!-- Te datuma.value-->
                </div>
            </div>
            <div id="infologavalstsnosakums">
                <div id="valsts_nosaukums">
                    Valsts <!-- Te valsts.value-->
                </div>
            </div>
            <div id="infologaapraksts">
                <div id="infologaApraksts">
                    Apraksts <!-- Te apraksts.value-->
                </div>
            </div>
        </div>

        <button type="submit" id="pievienot_celojumu">Pievienot Ceļojumu</button>

    </div>

    <div id="popup">
        <input type="text" id="popup_valsts_src" placeholder="Valsts">
        <div id="popup_valsts">Valsts</div>

        <input type="text" id="popup_datums_src" placeholder="Datums">
        <div id="popup_datums">Datums</div>

        <input type="text" id="popup_cena_src" placeholder="Cena">
        <div id="popup_cena">Cena</div>

        <input type="text" id="popup_apraksts_src" placeholder="Apraksts">
        <div id="popup_apraksts">Apraksts</div>

        <button type="submit" id="pievienot_poga">Pievienot</button>
    </div>

    <div id="saraksts">
        <div id="celojums">
            
        </div>
    </div>
    
    </div>
    <script src="static/JS/admin.js"></script> <!--javasScript-->
</body>
</html>